/* -------------------------------------------
 	MAIN STRUCTURE				
------------------------------------------- */

.ftc-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.ftc-sheet {
	flex: 1;
	background: #EEE;
	font-family: "Nodesto Caps Condensed";
}

.ftc-sheet-main {
	flex: 1;
	padding: 1em;
}

.ftc-sheet-header {
    height: 90px;
}

.ftc-sheet-primary {
	height: 190px;
}

.ftc-sheet-secondary {
	height: 450px;
}


/* -------------------------------------------
 	UI ELEMENTS
------------------------------------------- */


.ftc-sheet label {
	font-weight: normal;
	color: #999;
	margin: 0;
}

/* Editable Fields */
input.ftc-edit,
span.ftc-edit {
	min-width: 24px;
	background: none;
	border: 1px solid transparent;
	padding: 0;
	margin: -1px;
	text-align: center;
}

input.ftc-edit:hover,
input.ftc-edit:focus,
.ftc-edit:hover,
.ftc-edit:focus {
	box-shadow: 0 0 10px #999;
	border: 1px solid #444;
	border-radius: 3px;
}

input.ftc-edit:focus,
.ftc-edit:focus {
	box-shadow: 0 0 10px #ff0000;
}

/* Sheet Tabs */
ul.sheet-tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0.25em 0;
    font-size: 2em;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

li.sheet-tab {
	flex: 1;
	margin: 0.25 0;
	padding: 0 0.25;
	border-right: 1px solid #999;
	text-align: center;
	line-height: 24px;
}
li.sheet-tab:last-child {
	border-right: none;
}
li.sheet-tab.tab-active {
	color: #000;
	text-shadow: 0 0 15px #ff3838;
}

div.content-tab {
	display: none;
	margin: 10px 0;
}
div.content-tab.tab-active {
	display: block;
}


/* -------------------------------------------
 	PROFILE SIDEBAR
------------------------------------------- */

.ftc-sheet-sidebar {
	flex: 0 0 250px;
	padding: 1em;
	border-right: 1px solid #000;
}

h2.section-header {
	margin: 0.5em 0;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	text-align: center;
}


.ftc-sheet-profile {
	position: relative;
}

img.profile-image {
	height: 250px;
	width: 250px;
	border: 1px solid #000;
	box-shadow: 0 0 4px #000;
}

img.token-image {
	background: #CCC;
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
	border: 1px solid #000;
	box-shadow: 0 0 4px #000;
}

.profile-image:hover, .token-image:hover {
	box-shadow: 0 0 10px #ff3838;
}


/* -------------------------------------------
 	CHARACTER SHEET HEADER		
------------------------------------------- */

.ftc-sheet-header {
	position: relative;
}

h1.charname {
	flex: 0 0 60%;
	height: 50px;
	margin: 0;
	font-size: 3em;
	line-height: 50px;
}

.charname > input.ftc-edit {
	width: 100%;
	text-align: left;
}

div.charlevel {
	flex: 0 0 40%;
	height: 50px;
	text-align: right;
}

.charlevel h2.level {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 0;
}

.level input.ftc-edit,
.experience input.ftc-edit {
    text-align: right;
}

.charlevel .experience {
	width: 100%;
	height: 20px;
	line-height: 20px;
}

.experience .exp-next {
	color: #999;
	margin: 0;
}


/* Class, Race, and Background */
ul.ftc-sheet-subtitle {
	width: 100%;
	float: left;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    line-height: 28px;
    font-size: 1.5em;
    border-bottom: 1px solid #BBB;
    border-top: 1px solid #BBB;
}
ul.ftc-sheet-subtitle li {
	flex: 1;
	padding: 0 0.5em;
	border-right: 1px solid #999;
}
ul.ftc-sheet-subtitle li:first-child {
	padding-left: 0;
}
ul.ftc-sheet-subtitle li:last-child {
	padding-right: 0;
	text-align: right;
	border-right: none;
}
.ftc-sheet-subtitle input.ftc-edit {
	width: 100%;
	text-align: left;
}




/* -------------------------------------------
 	CHARACTER SHEET HEADER		
------------------------------------------- */











/* Primary Showcase Attributes */
.ftc-sheet-primary > div {
	width: 30%;
	height: 80px;
	float: left;
	margin: 7px 1.66%;
    padding: 0.25em 0;
	border: 1px solid #999;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;
}

div.health { background-image: url("/custom/SwordCoast/Icons/health.png"); }
div.armor { background-image: url("/custom/SwordCoast/Icons/armor.png"); }
div.proficiency { background-image: url("/custom/SwordCoast/Icons/proficiency.png"); }
div.speed { background-image: url("/custom/SwordCoast/Icons/speed.png"); }
div.initiative { background-image: url("/custom/SwordCoast/Icons/initiative.png"); }
div.death { background-image: url("/custom/SwordCoast/Icons/death.png"); }

.ftc-sheet-primary div label {
    display: block;
    margin: 0 1em;
    font-size: 1.25em;
    color: #444;
    border-bottom: 1px solid #666;
}


.ftc-sheet-primary input.ftc-edit {
	font-size: 2em;
}





.ftc-sheet-primary div span {
	width: 100%;
	font-size: 2em;
	margin: 0.25em 0;
}

ul.death-saves {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.death-saves > li span {
	font-size: 1em;
	margin: 0 0.5em 0 0;
}







/* -------------------------------------------
 	Attributes				
------------------------------------------- */

#content-attributes > div.attribute {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #999;
    border-radius: 10px;
    font-size: 1.5em;
	background-repeat: no-repeat;
    background-position: 5px 2px;
}


div.attribute label {
	flex: 1;
	padding-left: 36px;
	font-size: 1.25em;
	color: #333;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

div#attribute-Str > label {background-image: url("/custom/SwordCoast/Icons/strength.png");}
div#attribute-Dex > label {background-image: url("/custom/SwordCoast/Icons/dexterity.png");}
div#attribute-Con > label {background-image: url("/custom/SwordCoast/Icons/constitution.png");}
div#attribute-Int > label {background-image: url("/custom/SwordCoast/Icons/intelligence.png");}
div#attribute-Wis > label {background-image: url("/custom/SwordCoast/Icons/wisdom.png");}
div#attribute-Cha > label {background-image: url("/custom/SwordCoast/Icons/charisma.png");}


.attribute .ftc-rollable:hover {
    background-image: url("/custom/SwordCoast/Icons/d20.png") !important;
}

.attribute .ftc-edit {
	width: 28px;
}

.attribute .attr-mod {
    width: 28px;
    text-align: right;
	font-size: 0.75em;
	font-family: "Bookinsanity";
	color: #888;
}

.attribute input.ftc-checkbox {
	margin: 2px;
}














/* -------------------------------------------
 	Content Tabs				
------------------------------------------- */

.ftc-sheet-secondary .content-tab {
    max-height: 410px;
}

#content-biography {
	position: relative;
	font-size: 1em;
	font-family: "Scaly Sans";
	color: #222;
}

#content-biography .glyphicon-edit {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #999;
}

#content-biography .glyphicon-edit:hover {
	color: #222;
	text-shadow: 0 0 4px #ff3838;
}




/* -------------------------------------------
 	Skills				
------------------------------------------- */

#content-skills {
	font-size: 1.25em;
}

#content-skills > div {
	display: flex;
	flex-direction: row;
	line-height: 24px;
}


#content-skills > div label {
	flex: 3 0 70%;
	color: #444;
}

#content-skills > div span { 
	flex: 1 0 15%;
	text-align: right;
}
#content-skills > div input[type="checkbox"] {width: 20px; }


span.skill-mod {
	font-family: "Bookinsanity";
	color: #888;
	font-size: 0.875em;
}

.skill .ftc-rollable:hover {
	text-shadow: 0 0 4px #ff3838;
}


/* -------------------------------------------
 	Inventory				
------------------------------------------- */

.inventory-items {
	list-style: none;
	margin: 0.25em 0;
	padding: 0;
	max-height: 340px;
    overflow-y: scroll;
}

.item {
    margin: 0;
    padding: 3px 0;
    line-height: 24px;
    border-bottom: 1px solid #DDD;
}

.inventory-header {
    font-weight: bold;
    margin: 0;
    padding: 0 0 0.25em;
    border-bottom: 1px solid #999;
    line-height: 1em;
}

.item > * {
	margin: 0 0.25em;
}

.item-name {
	flex: 4;
}

.item-quantity {
    width: 24px;
}

.item-weight {
	width: 24px;
	border-right: 1px solid #DDD;
}

.inventory-header .inventory-rpad {
    width: 54px;
    margin: 0;
}

.item .glyphicon:hover,
.spell .glyphicon:hover {
	text-shadow: 0 0 4px #ff3838;
}


.inventory-weight {
	position: relative;
    height: 12px;
    background: #556575;
    border: 1px solid #222;
    border-radius: 3px;
}

.inventory-weight-bar {
    display: block;
    height: 8px;
    background: #bfcee4;
    margin: 1px;
    border: 1px solid #f6faff;
    border-radius: 2px;
}

label.inventory-weight-label {
    position: absolute;
    top: 0px;
    right: 4px;
    color: #FFF;
    font-size: 0.75em;
    line-height: 12px;
    text-shadow: 1px 1px #000;
}

.heavy .inventory-weight-bar {
    background: #c73411;
    border: 1px solid #ff1919;
}



/* Currency Bag */
.currency {
    margin: 0.25em;
    border-bottom: 1px solid #CCC;
}

.currency > * {
    flex: 0;
    width: 20px;
    text-align: right;
}

.currency > input.ftc-edit {
    border-right: 1px solid #CCC;
    margin-right: 8px;
}

.currency > .currency-label {
    flex: 1;
    text-align: left;
    font-weight: bold;
    color: #222;
}

/* -------------------------------------------
 	Spellbook
------------------------------------------- */

.spellbook-spells {
	list-style: none;
	margin: 0.25em 0;
	padding: 0;
	max-height: 360px;
    overflow-y: scroll;
}

.spell {
    margin: 0px;
    padding: 2px 0;
    line-height: 24px;
    border-bottom: 1px solid #DDD;
}

.spell.inventory-header {
	line-height: 16px;
	background: #DEDEDE;
    border-bottom: 1px solid #CCC;
}
.inventory-header .spell-action { border-right: 1px solid #CCC; }


.spell-name {  flex: 2; }
.spell-school, .spell-action { flex: 1; }
.spell-action { border-right: 1px solid #DDD; }
.spell-uses {
	width: 50px; 
	margin: 0;
	text-align: center;
}
.spell-uses > .ftc-edit {
    width: 20px;
    margin: -1px;
}





/* -------------------------------------------
 	jQuery UI Dialog			
------------------------------------------- */

.ui-dialog {
    border: 1px solid #222;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
}

.ui-dialog .ui-widget-header {
    border: none;
    background: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
}

.ui-dialog .ui-widget-content {
    min-height: 1em !important;
    border: none;
    margin: 0.25em;
    padding: 0.25em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
	text-align: center;
}

.ui-dialog .ui-dialog-buttonset button {
	margin: 0 0.25em;
}

.ftc-dialog .attribute-roll > * {
    margin: 0.25em 0;
}

/* -------------------------------------------
 	Improved Notes				
------------------------------------------- */


blockquote {
    font-family: "Scaly Sans";
    font-size: 1em;
    font-style: italic;
    border-left: 5px solid #61584e;
}