
/* -------------------------------------------
 	CHARACTER SHEET HEADER
------------------------------------------- */

.ftc-sheet-header {
	position: relative;
}

h1.charname {
	flex: 0 0 70%;
	height: 50px;
	margin: 0;
	font-size: 40px;
	line-height: 50px;
}

.charname > input.ftc-edit {
	width: 100%;
    height: 40px;
    margin: 5px 0;
	text-align: left;
}

div.charlevel {
	flex: 0 0 30%;
	height: 50px;
	text-align: right;
}

.charlevel h2.level {
	width: 100%;
    font-size: 28px;
	height: 26px;
	margin: 0;
}

.charlevel .xpbar {
    width: 100%;
    height: 4px;
    background: #556575;
    border: 1px solid #222;
    border-radius: 3px;
}

.charlevel .xpbar > .bar {
    display: block;
    height: 2px;
    background: #bfcee4;
}

.xpbar > .bar.leveled {
    background: #00cf36;
}

.charlevel .experience {
	width: 100%;
	height: 20px;
}
.experience .exp-next {
	color: #999;
	margin: 0;
}




/* Class, Race, Background, Alignment */
ul.ftc-sheet-subtitle {
	width: 100%;
	float: left;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    line-height: 28px;
    font-size: 1.5em;
    border-bottom: 1px solid #BBB;
    border-top: 1px solid #BBB;
}
ul.ftc-sheet-subtitle li {
	flex: 1;
	padding: 0 0.25em;
	border-right: 1px solid #999;
}
ul.ftc-sheet-subtitle li:first-child {
	padding: 0;
}
ul.ftc-sheet-subtitle li:last-child {
	padding: 0;
	text-align: right;
	border-right: none;
}
.ftc-sheet-subtitle .ftc-edit {
	width: 100%;
	text-align: left;
}
.ftc-sheet-subtitle li:last-child .ftc-edit {
    text-align: right;
}

.ftc-sheet-subtitle li span {
    display: block;
    width: 100%;
}

select.alignment {
    font-size: 22px;
    border: none;
}




/* -------------------------------------------
 	CHARACTER SHEET HEADER
------------------------------------------- */

.ftc-sheet-primary {
    height: 180px;
}

/* Primary Showcase Attributes */
div.primary-stat {
	width: 30%;
	height: 74px;
	float: left;
	margin: 10px 1.66% 0;

    display: flex;
    flex-flow: column;

	border: 1px solid #999;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-align: center;
}

/* Sidebar Attribute Stats */
#content-attributes .primary-stat {
	width: 48%;
	margin: 10px 2% 0 0;
}
#content-attributes .primary-stat:last-of-type {
	margin: 10px 0 0 2%;
}

div.health { background-image: url("../content/icons/health.png"); }
div.armor { background-image: url("../content/icons/armor.png"); }
div.proficiency { background-image: url("../content/icons/proficiency.png"); }
div.speed { background-image: url("../content/icons/speed.png"); }
div.initiative { background-image: url("../content/icons/initiative.png"); }
div.resource1 { background-image: url("../content/icons/gears.png"); }
div.resource2 { background-image: url("../content/icons/shield.png"); }
div.death { background-image: url("../content/icons/death.png"); }


.primary-stat header {  /* Height 24px */
    flex: 0 0 18px;
    margin: 3px 0.5em;
    font-size: 18px;
    line-height: 18px;
    border-bottom: 1px solid #666;
}

.primary-stat-value {
    flex: 1;
	font-size: 24px;
    max-height: 30px;
}

.primary-stat footer {
    flex: 0 0 16px;
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 4px;
}

#r1label, #r2label {
    width: 100%;
    font-size: inherit;
    line-height: inherit;
}

ul.death-saves {
	list-style: none;
	margin: 0;
	padding: 0;
    line-height: 10px;
}

ul.death-saves > li span {
	font-size: 16px;
	margin: 0 0.5em 0 0;
}

/* -------------------------------------------
 	Sidebar and Profile
------------------------------------------- */

.ftc-character .ftc-sheet-profile {
    flex: 0 0 250px;
    position: relative;
    margin-bottom: 20px;
}


ul#sidebar-tabs {
    flex: 0 0 40px;
    font-size: 24px;
}

/* -------------------------------------------
 	Attributes
------------------------------------------- */


ol.attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
	font-size: 24px;
}

.attributes-list > li.attribute {
    display: flex;
    align-items: center;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #CCC;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}

.attribute label {
	flex: 1;
	padding-left: 36px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#attribute-Str > label {background-image: url("../content/icons/strength.png");}
#attribute-Dex > label {background-image: url("../content/icons/dexterity.png");}
#attribute-Con > label {background-image: url("../content/icons/constitution.png");}
#attribute-Int > label {background-image: url("../content/icons/intelligence.png");}
#attribute-Wis > label {background-image: url("../content/icons/wisdom.png");}
#attribute-Cha > label {background-image: url("../content/icons/charisma.png");}

.attribute .ftc-rollable:hover {
    background-image: url("../content/icons/d20.png") !important;
}

.attribute .ftc-edit {
	width: 28px;
}

.attribute .attr-mod {
    width: 28px;
    margin-left: 2px;
	font-size: 20px;
	color: #888;
}

.attribute input.ftc-checkbox {
	margin: 2px;
}


/* -------------------------------------------
 	Skills
------------------------------------------- */

.skills-list {
    list-style: none;
    margin: 0;
    padding: 0;
	font-size: 1.25em;
}

.skills-list > li.skill {
	display: flex;
	flex-direction: row;
	line-height: 22px;
}

.skill label {
	flex: 3 0 70%;
}

.skill span {
	flex: 1 0 15%;
	text-align: right;
}

.skill input[type="checkbox"] {
    width: 20px;
    margin-right: 4px;
}

.skill .skill-mod {	color: #888; }

/* Rollable Skills */
.skill .ftc-rollable {	position: relative; }

.skill .ftc-rollable:hover { text-shadow: 0 0 4px #ff3838; }

.skill .ftc-rollable:hover:before {
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	left: -28px;
	top: -2px;
	content: "";
	background-image: url('../content/icons/d20.png') !important;
	background-size: contain;
    pointer-events: none;
}

/* -------------------------------------------
 	Traits
------------------------------------------- */

blockquote.compendium {
    padding: 5px 5px 5px 10px;
    font-size: 14px;
    color: #999;
}

#content-traits {
    font-size: 20px;
    overflow-y: scroll;
    padding-right: 0.5em;
}


/* -------------------------------------------
 	Biography
------------------------------------------- */

#content-biography {
    height: calc(100%);
	font-size: 1em;
	font-family: "Scaly Sans";
	color: #222;
    overflow-y: scroll;
}

.content-tab .ftc-textfield-edit {
    height: 20px;
	position: absolute;
    top: inherit;
	bottom: 0px;
    left: 0px;
	color: #999;
}

.content-tab .ftc-textfield-edit:hover {
	color: #222;
	text-shadow: 0 0 4px #ff3838;
}


/* -------------------------------------------
 	Inventory
------------------------------------------- */

ol.inventory-items {
    height: calc(100% - 75px);
    overflow-y: scroll;
	list-style: none;
	margin: 0.25em 0;
	padding: 0;
}

.item {
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid #DDD;
}

.item > * {
    margin: 0 0.25em;
    line-height: 24px;
}
.item-name { flex: 1; }


.item-quantity.ftc-edit {
    width: 24px;
    font-size: 14px;
}
.item-weight {
	width: 24px;
    font-size: 14px;
	border-right: 1px solid #DDD;
}


.inventory-header {
    font-weight: bold;
    margin: 0;
    padding: 0.25em 0;
    border-bottom: 1px solid #999;
    font-size: 14px;
}
.inventory-header > * { line-height: 20px }
.inventory-header .inventory-add { width: 36px; }
.ftc-item-add:hover { text-shadow: 0 0 4px #ff3838; }


/* Item Edit Icons */
.item .glyphicon {
    font-size: 12px;
    line-height: 18px;
}

.item .glyphicon:hover {
	text-shadow: 0 0 4px #ff3838;
}

.inventory-weight {
	position: relative;
    height: 12px;
    background: #556575;
    border: 1px solid #222;
    border-radius: 3px;
}

.inventory-weight-bar {
    display: block;
    height: 8px;
    background: #bfcee4;
    margin: 1px;
    border: 1px solid #f6faff;
    border-radius: 2px;
}

label.inventory-weight-label {
    position: absolute;
    top: 0px;
    right: 4px;
    color: #FFF;
    font-size: 14px;
    line-height: 12px;
    text-shadow: 1px 1px #000;
}

.heavy .inventory-weight-bar {
    background: #c73411;
    border: 1px solid #ff1919;
}

/* Currency Bag */
.inventory .currency {
    flex: 0 0 24px;
    line-height: 24px;
    border-bottom: 1px solid #CCC;
}



.currency > .currency-label {
    flex: 0;
    margin: 0 0.25em;
    font-weight: bold;
}

.currency > .currency-bags {
    flex: 1;
    justify-content: flex-end;
}

.currenc-bags > label {
    flex: 0;
    padding-left: 4px;
}

.currency-bags > .ftc-edit {
    flex: 0;
    text-align: center;
    margin: 0 2px;
}




/* -------------------------------------------
 	Spellbook
------------------------------------------- */

ol.spellbook-spells {
    height: calc(100%);
    overflow-y: scroll;
	list-style: none;
	margin: 0.25em 0;
	padding: 0;
}

.spell.inventory-header {
    padding: 0;
	line-height: 20px;
	background: #DEDEDE;
    border-bottom: 1px solid #CCC;
}
.inventory-header .spell-action { border-right: 1px solid #CCC; }


.spell-header {  flex: 2; }
.spell-school, .spell-action { flex: 1; }
.spell-action { border-right: 1px solid #DDD; }
.spell-uses {
	width: 50px;
	margin: 0;
	text-align: center;
}
.spell-uses > .ftc-edit {
    width: 20px;
    margin: -1px;
}

img.spell-image { margin-top: -2px; }

.spellbook .spellcasting-mod > * {
    line-height: 24px;
    height: 24px;
}
.spellcasting-mod > .ftc-select { flex: 0 0 52%; }
.spellcasting-mod > .ftc-item-add {
    width: 50px;
    font-size: 14px;
    text-align: center;
}

/* Rollable Spells */
.spell .ftc-rollable:hover,
.ability .ftc-rollable:hover { text-shadow: 0 0 4px #ff3838; }

/* -------------------------------------------
 	Abilities
------------------------------------------- */

ol.abilities {
    height: calc(100%);
    overflow-y: scroll;
	list-style: none;
	margin: 0;
	padding: 0;
}

li.ability {
    font-size: 16px;
}

.ability-image {
    flex: 0 0 36px;
    margin-right: 5px;
}
.ability-image > .ftc-image { margin: 6px 0; }


.ability-body { flex: 1; }
.ability-name,
.ability-source {
    flex: 1 0 80%;
}
.ability-footer > .ability-source {
    color: #999;
}
.ability .glyphicon {
    flex: 0 0 16px;
    top: 1px;
}
