
/* -------------------------------------------
     MAIN STRUCTURE
------------------------------------------- */

.ftc-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.ftc-sheet {
    flex: 1;
    background: #EEE;
    font-family: "Nodesto Caps Condensed";
}

.ftc-sheet .ftc-sheet-main {
    flex: 1;
    margin: 15px;
    padding: 0;
}

.ftc-sheet-header {
    height: 90px;
}

.ftc-sheet-primary {
    height: 190px;
}

.ftc-sheet-secondary {
    flex: 1;
    height: 450px;
}


.ftc-sheet-sidebar {
    flex: 0 0 250px;
    padding: 15px;
    border-right: 1px solid #000;
}

h2.section-header {
    margin: 0.5em 0;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    text-align: center;
}




/* -------------------------------------------
     ASSET IMAGES
------------------------------------------- */

.ftc-sheet-profile {
    position: relative;
    margin-bottom: 0.5em;
}

img.profile-image {
    height: 250px;
    width: 250px;
    border: 1px solid #000;
    box-shadow: 0 0 4px #000;
}

img.token-image {
    background: #CCC;
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    box-shadow: 0 0 4px #000;
}

.profile-image:hover, .token-image:hover {
    box-shadow: 0 0 10px #ff3838;
}


/* -------------------------------------------
     FORM FIELDS
------------------------------------------- */

label {
    margin: 0;
    font-weight: normal;
}

.ftc-sheet label {
    color: #403e3c;
}

/* Editable Fields */
input.ftc-edit {
    min-width: 24px;
    background: none;
    border: 1px solid transparent;
    padding: 0;
    margin: -1px;
    text-align: center;
}

input.ftc-edit:hover,
input.ftc-edit:focus {
    box-shadow: 0 0 10px #999;
    border: 1px solid #444;
    border-radius: 3px;
}

input.ftc-edit:focus {
    box-shadow: 0 0 10px #ff0000;
}

input.ftc-edit::placeholder {
    color: #5f5e5d;
}


select {
    font-size: 18px;
}


/* Form Groups */
.form-group {
    width: 100%;
    height: 30px;
    margin: 3px 0;
}

.form-group > * {
    height: 30px;
    line-height: 30px;
    flex: 0 0 50%;
}

.form-group .ftc-checkbox {
    flex: 0 0 24px;
    height: 16px;
    margin-top: 8px;
}

.form-group .ftc-edit {
    padding: 0 5px;
    text-align: left;
}




/* -------------------------------------------
     TABBED CONTAINERS
------------------------------------------- */

/* Tab Menu */
ul.sheet-tabs {
    display: flex;
    height: 40px;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

/* Single Tab */
li.sheet-tab {
    flex: 1;
    line-height: 24px;
    margin: 8px 0;
    padding: 0 8px;
    border-right: 1px solid #999;
    text-align: center;
    cursor: pointer;
}
li.sheet-tab:last-child {
    border-right: none;
}
li.sheet-tab.tab-active {
    color: #000;
    text-shadow: 0 0 15px #ff3838;
}

/* Tabbed Content */
div.content-tab {
    position: relative;
    display: none;
    margin: 10px 0;
}
div.content-tab.tab-active {
    display: block;
}


/* -------------------------------------------
     jQuery UI Dialog
------------------------------------------- */

.ui-dialog {
    border: 1px solid #222;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    z-index: 9999;
}

.ui-dialog .ui-widget-header {
    border: none;
    background: none;
    border-bottom: 1px solid #999;
    border-radius: 0;
}

.ui-dialog .ui-widget-content {
    min-height: 1em !important;
    border: none;
    margin: 0.25em;
    padding: 0.25em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
}

.ui-dialog .ui-dialog-buttonset button {
    margin: 0 0.25em;
}

.ftc-dialog .attribute-roll > * {
    margin: 0.25em 0;
}


/* -------------------------------------------
     General Styles
------------------------------------------- */

/* Headers */
h1, h2, h3, h4 {
    font-family: "Nodesto Caps Condensed";
    font-weight: normal !important;
    color: #332920;
    margin: 0;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
h3 { font-size: 24px; }
h4 { font-size: 20px; }

hr {
    margin: 0.5em 0;
    border: 2px solid #792a19;
}

blockquote {
    margin: 0 0 0.5em;
    font-family: "Scaly Sans";
    font-size: 1em;
    font-style: italic;
    border-left: 5px solid #61584e;
}
