

#top-navigation div[ui-name="ui_displayTabs"] div.tab {
    margin: 0 2px;
    background: #39454c;
    box-shadow: 0 0 5px #333 inset;
    border: 1px solid #4c6579;
    border-radius: 5px !important;
    box-sizing: content-box;
    padding: 0 0.5em;
    font-size: 16px;
    color: #DDD !important;
    text-shadow: 1px 1px 3px #000 !important;
    line-height: 36px
}

/* Currently Active Tab */
#top-navigation div[ui-name="ui_displayTabs"] div.tab.alttext {
    background: #657582;
    color: #EEE !important;
    border: 1px solid #000;
    box-shadow: 0 0 5px #29637f inset;
}

/* Player Visible Tab */
#top-navigation div[ui-name="ui_displayTabs"] div.tab.button {
    color: #DDD !important;
}

/* GM Only Tab */
#top-navigation div[ui-name="ui_displayTabs"] div.tab.dull {
    background: #1f2529;
    border: 1px solid #3a454e;
    color: #AAA !important;
}

/* Remove Map Tab */
div.tab span.glyphicon-remove {
    font-size: 12px;
    margin-left: 5px;
}


/* Add Map Tab */
#top-navigation span.glyphicon-plus {
    font-size: 14px;
    margin-left: 5px;
    color: #999;
    line-height: 36px;
}
#top-navigation span.glyphicon-plus:hover {
    color: #EEE;
}









/* MAIN MENU */
#main-menu {
    background: rgba(0,0,0,0.6);
    border: 1px solid #222;
    box-shadow: 0 0 30px #444;
}

#main-menu .highlight {
    background: rgba(103,0,0, 0.8);
}

div[ui-name="_logs"] .foreground:first-of-type {
    background: none;
    color: #111;
    text-shadow: 0 0 4px #999;
}

div[ui-name="ui_textBox"] div.fit-x .white {
    background: rgba(0,0,0,0.05);
    font-weight: normal;
    font-size: 14px;
    padding: 0.5em;
    margin-bottom: 3px;
}
div[ui-name="ui_textBox"] text.fit-x > text.link {
    -webkit-text-stroke-width: 0 !important;
    font-size: 28px;
    line-height: 30px;
    font-family: "Nodesto Caps Condensed";
}

div[ui-name="ui_textBox"] div.fit-xy div.flexcolumn.white {
    background: transparent;
}