.ftc-spell-action {
    font-family: "Scaly Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.spell-action-header {
    padding-bottom: 3px;
    margin-bottom: 6px;
    border-bottom: 2px solid #710916;
}

.spell-action-header > img {
    flex: 0 0 32px;
    margin-right: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 4px #000;
    box-sizing: content-box;
}

.spell-action-header > h2 { flex: 1; }

.spell-action-header > .spell-school {
    flex: 0 0 50px;
}

.spell-action-footer {
    margin-top: 6px;
    padding-top: 3px;
    border-top: 1px solid #CCC;
}


.spell-action-footer > .spell-prop {
    margin: 0 0.25em 0 0;
    padding-right: 0.25em;
    border-right: 1px solid #666;
    font-weight: bold;
}
.spell-action-footer > .spell-prop:last-of-type {
    border-right: none;
    margin-right: 0;
}


.spell-attack {
    justify-content: center;
}

.spell-roll {
    text-align: center;
    padding: 5px 5px 5px 35px;
    border: 1px solid #444;
    border-radius: 5px;
    background: url("../content/icons/d20.png") no-repeat 0 50%;
}

.spell-roll:hover {
    box-shadow: 0 0 10px #ff3838;
}
